<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="box1" v-model="msg">
    <input type="text" v-model="msg">
    <br>
    {{msg}}
</div>
<hr>
<div id="box2" v-model="msg">
    <input type="text" v-model="msg">
    <input type="text" v-model="msg">
    <br>
    {{msg}}
</div>
<script src="https://cdn.bootcss.com/vue/2.3.2/vue.min.js"></script>
<script>
    window.onload = function () {
        var a = new Vue({
            el: '#box1',
            data: {
                msg: 'welcome vue'
            }
        });
        var b = new Vue({
            el: '#box2',
            data: {
                msg: 'welcome vue'
            }
        })
    }
</script>
</body>
</html>